<?xml version="1.0"?>
<launch>
	<node pkg="gmapping" type="slam_gmapping" name="Pioneer3AT_gmapping" output="screen">	
	  <rosparam file="$(find pioneer3at)/config/gmapping/gmapping.yaml" command="load" />
	  
	  <remap from="scan"          to="/scan_multi"/>
	  <remap from="map"           to="/map"/>
	  <remap from="map_metadata"  to="/map_metadata"/>
	</node>
</launch>
